<div class="container" style="margin-top:100px;">
  <h1 style= "text-align:center">Make a Purchase</h1>
   <form (ngSubmit)="onSubmit()" #f="ngForm">

       <label>How much are you spending?</label>
       <input
         type="text"
         class="form-control"
         ngModel
         name="amount"
         required
       />
       <br>

       <label>Which envelope is this money coming from?</label>
       <select
         class="form-control"
         ngModel
         name="category"
         value=""
         required>
         <option [defaultSelected]=true [value]="default" >{{default}}</option>
         <option *ngFor ="let envelope of envelopes">{{ envelope.category }}</option>
       </select>
       <br>

       <label>What is the purchase date?</label>
       <input
         type="date"
         class="form-control"
         ngModel
         name="date"
         required
       />
       <br>

       <label>Provide a short description for your purchase</label>
       <input
         type="text"
         class="form-control"
         ngModel
         name="description"
         required
       />
       <br>

       <label>Which payment method are you using to make the purchase?</label>
       <select
         class="form-control"
         ngModel
         name="paymentmethod"
         value=""
         required>
         <option [defaultSelected]=true [value]="default" >{{default}}</option>
         <option *ngFor ="let pm of paymentMethods">{{ pm.method }}</option>
        </select>
       <br>


      <button class="btn btn-primary" type="submit" >Submit</button>
      <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
 </form>
 </div> -->

 <!-- [disabled]="!f.valid" -->



